/* CUSTOMIZATION */
.fight-stick .fstick{
    background: url(https://garretvoorhees.github.io/GurtDX/Krebstick-Joystick.svg);
}

.fight-stick .button, .fight-stick .trigger-button, .fight-stick .bumper{
    background: #7C128E;
    border:4px solid #AC27C3;
}


/* HIDDEN ELEMENTS */
.controller .fight-stick{
    background:none;
}

.fight-stick .start, .fight-stick .back{
    display:none;
}

/* 3 Buttons Only */
.fight-stick .x, .fight-stick .y, .fight-stick .bumper, .fight-stick .trigger-button.left{
    display:none;
}
