<h2>I'm a freelance designer in San Francisco, specializing in UX design and typography. I have an insatiable affinity for letterforms of all types, kinds, and sorts.</h2>

<h4>Previously</h4>
<p>I was the <em>Senior Designer & UX Strategist</em> at <a target="_blank" href="http://www.chapterthree.com">Chapter Three</a>, where I was responsible for content strategy, UX, and responsive visual design on over 40 websites for tech companies, higher education institutions, and awesome non-profits.</p>

<h4>These days</h4>
<ul>
	<li>I run <a href="http://www.gameandtype.com">Game&Type</a>, an online archive of typography and UI/UX design in video games, featuring critical analysis and interviews with game designers and developers.</li>
	<li>I host <a href="http://www.mixcloud.com/digthisradio">Dig This!</a> on <a href="http://www.bff.fm">BFF.fm</a>, featuring jazz, funk, soul, hip-hop, disco, house, and beyond…</li>
	<li>I’m the design lead at <a href="http://www.screener.ly">Screener.ly</a>, a startup that offers secure screeners for the TV and movie industry.</li>
	<li><a href="https://www.twitch.tv/garretdraws">I draw stuff live</a> on Twitch.</li>
	<li>I maintain <a href="http://trucktype.tumblr.com">Truck Type</a>, a catalogue of weird/awkward graphic design and typography on the side of vehicles.</li>
</ul>

<h4>Talks</h4>
<ul>
	<li><em><a target="_blank"href="http://www.slideshare.net/garretvoorhees/the-wonderful-world-of-web-typography">The Wonderful World of Web Typography</a></em>, DrupalCon Los Angeles 2015</li>
	<li><em><a target="_blank" href="http://www.slideshare.net/garretvoorhees/wireframing-smarter-badcamp-2014">Wireframing Smarter</a></em>, DrupalCon Austin 2014 / BADcamp 2014</li>
</ul>

<h4>Availability</h4>
<p>I'm available for web/print/UX design or illustration.</br>
If you have an interesting project, <a href="mailto:info@garretvoorhees.com">get in touch!</a></p>

<p><a class="button" href="mailto:info@garretvoorhees.com">Send me a note</a> or <a class="button" href="The Resume of Garret Voorhees.pdf">download my resumé</a></p>