<h2>I'm a designer living in San Francisco. I try to live on the minimalist side of the spectrum although we all need to indulge sometimes. I really like letterforms.</h2>

<h4>By Day</h4>
<p>I’m the Senior Designer & UX Strategist at <a href="http://www.chapterthree.com">Chapter Three</a>.</p>

<h4>By Nights (and Weekends)</h4>
<ul>
	<li>I host <a href="http://www.mixcloud.com/digthisradio">Dig This!</a> on <a href="http://www.bff.fm">BFF.fm</a>, featuring jazz, funk, soul, hip-hop, disco, house and beyond.</li>
	<li>I run <a href="http://www.gameandtype.com">Game&Type</a>, an online space to analyze and discuss UI/UX design in video games.</li>
	<li>I’m in charge of design at <a href="http://www.screener.ly">Screener.ly</a>, a startup that offers secure screeners for the TV and movie industry.</li>
	<li>Sometimes I draw stuff (and I should probably do it more often).</li>
</ul>

<h4>Get in touch</h4>
<p><a href="mailto:info@garretvoorhees.com">Send me a note</a>, <a href="#">download my resumé</a>, or watch <a href="www.youtube.com/watch?v=v4IC7qaNr7I">this guy</a>. Your call.</p>