<h2>I'm a designer and typographer in San Francisco. I have an insatiable affinity for letterforms of all types, kinds, and sorts.</h2>

<h4>Current Availability</h4>
<p>Graphic design (web/print), UX, illustration. If you have an interesting project, <a href="mailto:info@garretvoorhees.com">get in touch!</a></p>

<h4>These days…</h4>
<ul>
	<li>I host <a href="http://www.mixcloud.com/digthisradio">Dig This!</a> on <a href="http://www.bff.fm">BFF.fm</a>, featuring jazz, funk, soul, hip-hop, disco, house, and beyond…</li>
	<li>I run <a href="http://www.gameandtype.com">Game&Type</a>, an online space to analyze and discuss UI/UX design in video games.</li>
	<li><a href="https://www.twitch.tv/garretdraws">I draw stuff live</a> on Twitch.</li>
	<li>I maintain <a href="http://trucktype.tumblr.com">Truck Type</a>, a catalogue of weird/awkward graphic design and typography on the side of vehicles.</li>
	<li>I’m the design lead at <a href="http://www.screener.ly">Screener.ly</a>, a startup that offers secure screeners for the TV and movie industry.</li>
</ul>

<p><a class="button" href="mailto:info@garretvoorhees.com">Send me a note</a> or <a href="The Resume of Garret Voorhees.pdf">download my resumé</a>.