<header class="site-header">
    <div class="logo-wrapper">
    	<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    	<p class="tagline">Designer & Typographer</p>
    </div>
    
{% assign current = page.url | downcase | split: '/' %}
    
    <nav class="site-nav">
		<ul>
			<li {% if current[1] == 'project' or page.url == "/" %}class='current'{% endif %}><a href='/'>Work</a></li>
			<li {% if current[1] == 'info' %}class='current'{% endif %}><a href='/info'>Info</a></li>
		</ul>
    </nav>
</header>
