<h4>Find me in the metaverse</h4>
<ul>
	<li><a href="https://twitter.com/gtvrhs"><span class="socmed-icon icon-twitter"></span>Twitter</a></li>
	<li><a href="http://www.instagram.com/garretvoorhees"><span class="socmed-icon icon-instagram"></span>Instagram</a></li>
	<li><a href="https://www.flickr.com/photos/garretvoorhees/"><span class="socmed-icon icon-flickr"></span>		Flickr</a></li>
	<li><a href="http://www.last.fm/user/garretvoorhees"><span class="socmed-icon icon-last-fm"></span>Last.fm</a></li>
	<li><a href="https://play.spotify.com/user/garretvoorhees"><span class="socmed-icon icon-spotify"></span>Spotify</a></li>	
	<li><a href="https://www.mixcloud.com/digthisradio/"><span class="socmed-icon icon-mixcloud"></span>Mixcloud</a></li>
	<li><a href="http://steamcommunity.com/id/gameandtype/"><span class="socmed-icon icon-steam"></span>Steam</a></li>	
</ul>