<h4>Find me in the metaverse</h4>
<ul>
	<li><a href="https://twitter.com/gtvrhs">Twitter</a></li>
	<li><a href="http://www.instagram.com/garret_voorhees">Instagram</a></li>
	<li><a href="https://www.flickr.com/photos/garretvoorhees/">Flickr</a></li>
	<li><a href="http://www.last.fm/user/garretvoorhees">Last.fm</a></li>
	<li><a href="https://play.spotify.com/user/garretvoorhees">Spotify</a></li>	
	<li><a href="https://www.mixcloud.com/digthisradio/">Mixcloud</a></li>
	<li><a href="http://steamcommunity.com/id/gameandtype/">Steam</a></li>	
</ul>