/**
 * Site header
 */
.site-header {
	width:100%;
	height:4.5em;
	margin: 0 auto;
	padding:0 30px 0 30px;
	background-color:white;
/* 	border-bottom:1px solid $hr-color; */

	@include media-query($on-palm) {
			padding:0 1em;
        }
        
    @include media-query($on-desktop) {
        }
}

.site-header a:hover{
	text-decoration: none;
	color: darken($green-color, 25%);
}

.logo-wrapper{
	display:inline-block;
	padding-top:1.5em;
	float:left;
	
		@include media-query($on-palm) {
			padding-top:1em;
		}
}

.site-title {
	float:left;
	margin-right:1em;
	color:$green-color;
	font-weight:600;
	
			@include media-query($on-palm) {
				margin-right:0;
			}
}

.site-title:visited{
	color:$green-color;
}

.tagline{
	float:left;
	color:$grey-color;
	
		@include media-query($on-palm) {
		clear:both;
		font-size:13px;
		}
}

p.tagline {
	margin-bottom:0;
}

.site-nav {
	display:inline-block;
	width:auto;
    float: right;
    
    	@include media-query($on-palm) {
    	text-align: right;
    	}
}

.site-nav li a,
.site-nav li a:visited{
	color:$green-color;
}

.site-nav li a:hover{
	color: darken($green-color, 25%);
}

.site-nav ul li{
	padding-top:1.5em;
	float:left;
	
		@include media-query($on-palm) {
		padding-top:1.5em;
		}
}

.site-nav ul li:first-child{
	margin-right:2em;
	
			@include media-query($on-palm) {
			margin-right:2em;
			}
}

.site-nav ul li.current{
	padding-top:1em;
	border-top:.5em solid $green-color;
	
		@include media-query($on-palm) {
		border-top:.5em solid $green-color;
		padding-top:1em;
		}
}




/**
 * Site footer
 */
.site-footer {
    padding: 2em 0 1em 0;
    margin:0 auto;
}

.site-footer p {
	text-align: center;
	color: $grey-color;
}


/**
 * Homepage
 */

.post-list {
	width:1080px;
	height:auto;
	margin:0 auto;
    list-style: none;
    
    		@include media-query($on-palm) {
    		margin:0 auto;
        	width:100%;
			}
    	
        	@include media-query($on-desktop) {
			}

    > li {
    	width:300px;
    	max-width:300px;
        float:left;
        margin-bottom: $spacing-unit;
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
        
        @include media-query($on-palm) {
        	float:none;
        	width:100%;
        	margin:0;
			margin-bottom:$spacing-unit;
		}
    }
}

.post-list li img{
	width:100%;
	height:auto;
	transition: all 0.2s ease;
}

.post-list li img:hover,
.project-post-list li img:hover{
	-webkit-box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 15px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 15px 0px rgba(50, 50, 50, 0.5); 
}

/* This is the label under the thumbnails on homepage */
.post-link {
    display: block;
}

.post-link:hover{
	text-decoration: none;
}


/* PROJECT POST LIST */
.project-post-list{
	clear:both;
	height:auto;
	margin:0 auto;
	padding-top: $spacing-unit*2;
	list-style:none;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content: flex-start;
	
	> li {
    	width:150px;
        float:left;
        margin-bottom: $spacing-unit / 2;
        margin-left: $spacing-unit / 2 ;
        margin-right: $spacing-unit / 2;
        
			@include media-query($on-palm) {
				width:120px;
				margin-bottom: 	$spacing-unit/3;
				margin-left:	$spacing-unit/3;
				margin-right:	$spacing-unit/3;
			}
    }
}

.project-post-list li img{
	transition: all 0.2s ease;
}

.project-post-list p{
	text-align: center;
	font-size: 14px;
	margin-top: $spacing-unit/4;
}

#current img{
	border:5px solid $green-color;
}

#current p{
	font-weight: 600;
}


/**
 * Page content
 */
.page-content {
    clear:both;
    width:100%;
    margin:0 auto;
   	max-width: $max-width;
    padding: $spacing-unit 0;
}


/**
 * Project Page
 */
.project {
	width:100%;
	margin:0 auto;
}

.project-meta {
}

.post-content {
	width:100%;
	clear:both;
}

.post-content img {
	margin-bottom: $spacing-unit;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.project-description{
	width:38em;
	margin:0 auto;
	margin-bottom: 2*$spacing-unit;
	
		@include media-query($on-palm) {
		width:100%;
		}
		
		@include media-query($on-desktop) {
		}
}

.project p{
	margin:0 auto;
	margin-bottom:$spacing-unit;
}

.project-images{
}

/*
.3col{
	float:left;
	margin-right:30px;
}

.2-col{
	float:left;
	margin-right:30px;
}
*/

/* NEXT AND PREVIOUS */
.page-navigation{
	@include media-query($on-palm) {
	}
}

.prev-wrapper,
.next-wrapper{
	position:fixed;
	top:45%;
	width:100px;
	text-align: center;
	
	@include media-query($on-palm) {
		position:relative;
		width:40%;
	}
}

.prev-wrapper{
	left: $spacing-unit / 2;
	
	@include media-query($on-palm) {
		float:left;
	}
}

.next-wrapper{
	right: $spacing-unit / 2;
	
	@include media-query($on-palm) {
		float:right;
	}
}

.prev-wrapper:hover a,
.next-wrapper:hover a{
	text-decoration: none; 
}

.prev-wrapper H4,
.next-wrapper H4{
	color:$grey-color;
	transition: all 0.2s ease;
}

.prev-wrapper:hover H4,
.next-wrapper:hover H4,
.prev-wrapper:hover span,
.next-wrapper:hover span{
	color:$green-color;
}

.prev-wrapper span,
.next-wrapper span{
color:$grey-color;
font-size:50px;
transition: all 0.2s ease;
}


/**
 * Info Page
 */
.info-page {
	max-width:1020px;
	margin:0 auto;

	@include media-query($on-palm) {
		width:100%;
	}

} 
 
 
.bio-wrapper {
	width:100%;
	display:inline-block;
	overflow: auto;
}

.bio-main {
	width:720px;
	float:right;
	color:#5B5B5B;
	
	@include media-query($on-palm) {
			width:100%;
        }
}

.bio-main ul li {
	list-style-type:square;
	padding-top:.25em;
	padding-bottom:.25em;
}

.bio-details {
	width:220px;
	float:left;
	
		@include media-query($on-palm) {
		width:100%;
		}
}

.bio-details a:hover,
.bio-details a:visited:hover{
	color: $green-color-dark;
}

.bio-details a:visited{
	color: $green-color;
}

.bio-details ul li {
	display:block;
	width:100%;
	border-top:1px solid $hr-color;
	padding:.75em 0 .5em 0;
}

.bio-details ul li:last-child {
	border-bottom:1px solid $hr-color;
}

.headshot {
	width:100%;
	margin-bottom:2em;
}

.headshot img {
	width:100%;
}

.bio-text {
	margin-bottom:4em;
}

.influences {
	border-top:1px solid $hr-color;
	padding-top:1em;
	padding-bottom:4em;
}

.influences-list {
	color: #858585;
	font-size:$small-font-size;
	line-height:23px;
	-webkit-column-count: 	2; /* Chrome, Safari, Opera */
    -moz-column-count: 		2; /* Firefox */
    column-count: 			2;
    -webkit-column-width: 	250px;
     -moz-column-width: 	250px;
          column-width: 	250px;
    -webkit-column-gap: 	40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 		40px; /* Firefox */
    column-gap: 			40px;
    
    	@include media-query($on-palm) {
    		-webkit-column-count: 	1; /* Chrome, Safari, Opera */
			-moz-column-count: 		1; /* Firefox */
			column-count: 			1;
			-webkit-column-width: 	100%;
			-moz-column-width: 		100%;
            column-width: 			100%;
        }
}

.influences H4,
.colophon H4 {
	color:#515151;
	margin-bottom:20px;
}

.colophon {
	border-top:1px solid $hr-color;
	padding-top:1em;
	font-size:$small-font-size;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {
font-weight: 600;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
    
    @include media-query($on-palm) {
        font-size: 28px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
