/**
 * Site header
 */
.site-header {
	max-width: $max-width;
	height:4.5em;
	margin: 0 auto;
	border-bottom:1px solid $hr-color;
}

.site-header a:hover{
	text-decoration: none;
}

.logo-wrapper{
	padding-top:1.5em;
	float:left;
}

.site-title {
	float:left;
	margin-right:1em;
	color:$green-color;
	font-weight:600;
}

.site-title:visited{
	color:$green-color;
}

.tagline{
	float:left;
	color:$grey-color;
}

.site-nav {
    float: right;
}

.site-nav ul li{
	padding-top:1em;
	float:left;
	border-top:.5em solid $green-color;
}

.site-nav ul li:first-child{
	margin-right:2em;
}


/**
 * Site footer
 */
.site-footer {
    padding: 2em 0 1em 0;
    margin:0 auto;
}

.site-footer p {
	text-align: center;
	color:#828282;
}


/**
 * Homepage
 */



/**
 * Page content
 */
.page-content {
    clear:both;
    width:100%;
    margin:0 auto;
   	max-width: $max-width;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
	margin:0 auto;
    list-style: none;

    > li {
    	max-width:300px;
        float:left;
        margin-bottom: $spacing-unit;
    }
}



.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    background-color:red;
}

/* This is the label under the thumbnails on homepage */
.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Project Page
 */
.project {
	width:100%;
	margin:0 auto;
}

.project-meta {
}

.post-content {
	width:100%;
	clear:both;
	float:left;
}

.post-content img {
	margin-bottom:2em;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/**
 * Info Page
 */
.info-page {
} 
 
 
.bio-wrapper {
	width:100%;
	display:block;
	overflow: auto;
}

.bio-main {
	width:70%;
	float:right;
	color:#5B5B5B;
	
	@include media-query($on-palm) {
			clear:both;
			float:left;
			background-color:white;
			width:100%;
        }
}

.bio-main ul li {
	list-style-type:square;
	padding-top:.25em;
	padding-bottom:.25em;
}

.bio-details {
	width:20%;
	min-width:220px;
	float:left;
}

.bio-details ul li {
	display:block;
	width:100%;
	border-top:1px solid $hr-color;
	padding:.75em 0 .5em 0;
}

.bio-details ul li:last-child {
	border-bottom:1px solid $hr-color;
}

.headshot {
	width:100%;
	margin-bottom:2em;
}

.headshot img {
	width:100%;
}

.bio-text {
	margin-bottom:4em;
}

.influences {
	border-top:1px solid $hr-color;
	padding-top:1em;
	padding-bottom:4em;
}

.influences H4 {
	color:#515151;
	margin-bottom:$spacing-unit;
}

.influences-list {
	color: #858585;
	font-size:$small-font-size;
	line-height:23px;
	-webkit-column-count: 	2; /* Chrome, Safari, Opera */
    -moz-column-count: 		2; /* Firefox */
    column-count: 			2;
    -webkit-column-width: 	250px;
     -moz-column-width: 	250px;
          column-width: 	250px;
    -webkit-column-gap: 	40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 		40px; /* Firefox */
    column-gap: 			40px;
}

.colophon {
	border-top:1px solid $hr-color;
	padding-top:1em;
	font-size:$small-font-size;
}

.colophon h4 {
	margin-bottom:$spacing-unit;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
