/**
 * Site header
 */
.site-header {
	max-width: $max-width;
	height:4.5em;
	margin: 0 auto;
	border-bottom:1px solid $hr-color;
}

.logo-wrapper{
	padding-top:1.5em;
	float:left;
}

.site-title {
	float:left;
	margin-right:1em;
	color:$green-color;
	font-weight:600;
}

.site-title:visited{
	color:$green-color;
}

.tagline{
	float:left;
	color:$grey-color;
}

.site-nav {
    float: right;
}

.site-nav ul li{
	padding-top:1em;
	float:left;
	border-top:.5em solid $green-color;
}

.site-nav ul li:first-child{
	margin-right:2em;
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Homepage
 */



/**
 * Page content
 */
.page-content {
    clear:both;
    width:100%;
    margin:0 auto;
   	max-width: $max-width;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
	margin:0 auto;
    list-style: none;

    > li {
    	max-width:300px;
        float:left;
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Project Page
 */
.project{
	width:90%;
	margin:0 auto;
}

.project-meta{
	width:30%;
	float:left;
	margin-right:5%;
}

.post-content{
	width:65%;
	float:left;
}

/**
 * Info Page
 */
.info-page{
} 
 
 
.bio-wrapper{
	width:100%;
	display:block;
	overflow: auto;
}

.bio-main{
	width:70%;
	float:right;
	color:#5B5B5B;
}

.bio-main ul li{
	list-style-type:square;
	padding-top:.25em;
	padding-bottom:.25em;
}

.bio-details{
	width:20%;
	min-width:220px;
	float:left;
}

.headshot{
	width:100%;
	margin-bottom:2em;
}

.headshot img{
	width:100%;
}

.bio-details ul li{
	display:block;
	width:100%;
	border-top:1px solid $hr-color;
	padding:.75em 0 .5em 0;
}

.bio-text{
	margin-bottom:4em;
}

.influences{
	border-top:1px solid $hr-color;
	padding-top:1em;
	padding-bottom:4em;
}

.influences H4{
	color:#515151;
	margin-bottom:$spacing-unit;
}

.influences-list{
	color: #858585;
	font-size:$small-font-size;
	line-height:23px;
	-webkit-column-count: 	2; /* Chrome, Safari, Opera */
    -moz-column-count: 		2; /* Firefox */
    column-count: 			2;
    -webkit-column-width: 	250px;
     -moz-column-width: 	250px;
          column-width: 	250px;
    -webkit-column-gap: 	40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 		40px; /* Firefox */
    column-gap: 			40px;
}

.colophon{
	border-top:1px solid $hr-color;
	padding-top:1em;
	font-size:$small-font-size;
}

.colophon h4{
	margin-bottom:$spacing-unit;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 24px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
