---
layout: default
---

<div class="info-page">

<div class="bio-wrapper">
<div class="bio-main">
<h2>I'm a Senior Designer at Chapter Three in San Francisco. My work emphasizes the power of typography, geometry and negative space. I have a BFA in Graphic Design and MS in Print Media from the Rochester Institute of Technology.</h2>
<p>I'm a Senior Designer at Chapter Three in San Francisco. My work emphasizes the power of typography, geometry and negative space. I have a BFA in Graphic Design and MS in Print Media from the Rochester Institute of Technology. My graduate thesis concerned the congeniality of reading in a digital format. I enjoy working with subtlety.</p>

<p>I'm a Senior Designer at Chapter Three in San Francisco. My work emphasizes the power of typography, geometry and negative space. I have a BFA in Graphic Design and MS in Print Media from the Rochester Institute of Technology. My graduate thesis concerned the congeniality of reading in a digital format. I enjoy working with subtlety.</p>
</div>

<div class="bio-details">
<img src="headshot.png">
{% include socmed.html %}
</div>
</div>

<div class="influences">
{% include influences.html %}
</div>

</div>
